.heading{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px;
      
}
.h2{
    font-size: 22px;
}
.font{
    font-size:22px;
}
.note{
    font-size:15px;
    width:100%;
    color:black;

}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color:darkgray;
    line-height:3;
    text-align: center;
}

canvas{
    border:5px;
    border-radius:20px;
    box-shadow:5px 5px 5px;
}